body {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;
}

.timer {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    top: 20px;
    right: 30px;
}

.game-board {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    border: 1px solid black;
}

.card {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(#b5d43c, #ecff9f);
    cursor: grab;
    background-size: contain;
}

.revealed, .matched {
    pointer-events: none;
}