div {
    text-align: center;
}

a {
    text-decoration: none!important;
}

a:hover {
    transform: scale(1.1);
}

.container-fluid {
    background: rgb(34, 136, 195);
    background: linear-gradient(13deg, rgba(34, 136, 195, 1) 44%, rgba(71, 45, 253, 1) 100%);
    height: 100vh;
}
